# Ignore temporary files created by editors
*~

# Ignore coverage reports
coverage/
*.lcov

# Ignore dependency directories
jspm_packages/

# Ignore temporary files created by the system
*.swp
*.swo

# Ignore npm debug log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore macOS specific files
._*

# Ignore SASS cache
.sass-cache/

# Ignore Bower components
bower_components/

# Ignore TypeScript build files
*.tsbuildinfo

# Ignore Parcel cache
.cache/

# Ignore Next.js build output
.next/

# Ignore Nuxt.js build output
.nuxt/

# Ignore Gatsby files
.cache/
public/

# Ignore temporary files created by JetBrains IDEs
.idea/
*.iml

node_modules/

uploads/

backup/